<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="http://static.test.o-home.com/v2/image/layouts/ohome.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/public/css/public.css">
    <title>测试页眉</title>
    <style>a {
  font-size: 14px;
  color: #ff8000; }
  a:hover {
    text-decoration: underline; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

    </style>
    <script>window.alert('开启测试中');</script>
  </head>
  <body>
    <h1>哈哈哈哈哈</h1>
    <div class="artcle">
      <div class="artcle-wrapper">
        <h1>Hello Yii</h1>
        <p>NO content has been provided</p>
      </div>
    </div>
    <div class="artcle">
      <div class="artcle-wrapper">
        <h1>Hello Yii</h1>
        <p>Lisk</p>
        <p>Hekala</p>
      </div>
    </div>
    <div class="location-wrapper"><span>当前位置:</span>
      <ul id="location">
        <li><a href="/views/index.html">首页</a></li>
        <li><a href="/views/login.html">登录</a></li>
      </ul>
    </div>
    <nav id="testNav">
      <ul class="nav-wrapper">
        <li class="nav-item">
          <object><a href="/views/index.html">首页</a>
            <ul class="nav-wrapper-children">
              <li class="nav-item-children">
                <object><span>选择</span>
                </object>
              </li>
              <li class="nav-item-children">
                <object><a href="/views/index/1.html">哈哈哈</a>
                </object>
              </li>
            </ul>
          </object>
        </li>
        <li class="nav-item">
          <object><a href="/views/login.html">登录</a>
            <ul class="nav-wrapper-children">
              <li class="nav-item-children">
                <object><span>选择</span>
                </object>
              </li>
              <li class="nav-item-children">
                <object><a href="/views/index/1.html">哈哈哈</a>
                </object>
              </li>
            </ul>
          </object>
        </li>
      </ul>
    </nav>
  </body>
</html>